<p class="index-text center">Opps... Have happend a error!</p>
<LinkTo @route="pokemon">
    <img  class='center index-image'
          src="https://pngimg.com/uploads/pokemon/pokemon_PNG102.png"
          alt="Pikachu picture">
</LinkTo>

<p class="index-text center">If you see any bugs, please tell me.<br> My email: oleksandr.kapinos@gmail.com</p>
