<p class="index-text center">Hello! It`s my test Ember App</p>
<LinkTo @route="pokemon">
    <img  class='center index-image'
          src="https://pngimg.com/uploads/pokemon/pokemon_PNG14.png"
          alt="Pikachu picture">
</LinkTo>


<p class="index-text center">Click on the Pikachu or "Pokemons" button at the top to see list of Pokemons</p>
