<div class="pokemon">
<section class="pokemon-list pokemon-part-one">

    <Pokemon::PokemonList @model={{model}}></Pokemon::PokemonList>

  {{nav-component
    previousPage=(action "previousPage")
    nextPage=(action "nextPage")
    offset=offset
    itemsPerPage=itemsPerPage
    count=model.count
  }}
</section>
<section class="pokemon-part-two">
    {{outlet}}
</section>
</div>
